.tag-input-wrapper {
  display: flex;
  flex-direction: column;

  .tag-input {
    padding: 10px 15px;
    outline: none;
    border: 1px solid #b1b1b1;
    border-radius: 5px;
    min-width: 400px;
    font-size: 18px;
    line-height: 22px;
    background-color: transparent;

    &:focus {
      background-color: transparent;
      border-color: steelblue;
    }
  }

  .tags {
    list-style: none;
    padding: 0;
    display: flex;
    margin-top: 10px;
  }

  .tag {
    padding: 5px 8px;
    border-radius: 3px;
    background-color: rgba(black, 0.2);
    display: flex;
    font-size: 16px;
    line-height: 18px;
    margin-right: 8px;

    .btn-close {
      color: darkred;
      margin-left: 12px;
      cursor: pointer;
      padding: 0 5px;
    }
  }
}
